.root {
    width: 100%;
    height: 200px;
    background-color: crimson;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

    div, .imglogo {
        height: 200px;
    }
}