<div class="content"> 
    <div class= "img-container"> 
        <img class="imglogo" alt="logo"
            src="assets/image/logoBiblioteche.jpeg"> 
    </div>
    <h1>Ricerca un libro</h1>
    <input type="text" placeholder="Titolo" [(ngModel)]="titolo">
    <input type="text" placeholder="Autore" [(ngModel)]="autore">
    <input type="text" placeholder="Casa editrice" [(ngModel)]="casaEditrice">
    <input type="text" placeholder="ISBN" [(ngModel)]="isbn">
    <button (click)="cerca()">Cerca</button>
</div>